.footwearHeading{
    font-size:1.8rem;
    margin:3.5rem 0rem 1rem 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    word-spacing: 2px;
    font-weight:500;
    color:#3e4152;
    padding-bottom: 1em;
}

.footwear{
    display: flex;
    max-width:1300px;
    margin:0rem 2rem;
    padding-left: 1em;
}

@media screen and (max-width:580px) {
    .footwearHeading{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:568px) {
   .footwearHeading{
       font-size: 1rem;
   }    
}